@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #3A80D2;
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    width: 400px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
    margin: auto;
}

input.botao{
    cursor: pointer;
}

footer{
    color: white;
    text-align: center;
}