 @charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AA7B63;
}

main{
    width: 40vw;
    margin: auto;
}

header{
    text-align: center;
    color: white;
}

section{
    
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
    margin: auto;
    padding: 10px;
}

#foto{
    width: 250px;
    height: 250px;
    border-radius: 50%;
   
}

div{
    
    padding: 5px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}
