 @charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AA7B63;
}


header{
    text-align: center;
    color: white;
}

section{
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
    margin: auto;
    padding: 10px;
}

div{
    text-align: center;
    padding: 5px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
}